cloudpickle==3.1.1
contourpy==1.3.1
cycler==0.12.1
Farama-Notifications==0.0.4
fonttools==4.56.0
gymnasium==1.0.0
kiwisolver==1.4.8
matplotlib==3.10.0
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pettingzoo==1.24.3
pillow==11.1.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
seaborn==0.13.2
six==1.17.0
sumolib==1.22.0
traci==1.22.0
typing_extensions==4.12.2
tzdata==2025.1
